/* Ссылка на детальную страницу */
a.btn.btn-default.button.product-item-btn-show-more {
    display: block;
    padding: 15px;
    text-align: center;
    font-size: 15px;
    height: 49px;
}

.product-item-list-col-3 img,
.product-item-small-card img {
    height: 150px;
}

p.product_desc {
    min-height: 95px;
}

/* Фильтр */
.fa {
    float: right;
}

.bx-filter-parameters-box-hint {
    display: inline-block;
    color: #4fcbd7 !important;
    font-weight: bold;
    font-size: 21px;
    width: 100%;
}

.bx-filter-input-checkbox {
    display: block;
}

.fa {
    color: #333333;
}

.bx-filter.bx-blue .bx-filter-section {
    background: none;
}

/* Modal */

.modal {
    z-index: 1050;
}
.modal-dialog {
    top: 10%;
}

.modal-backdrop.show {
    display: none !important;
}
.modal-body {
    max-height: none;
}


/*  Кнопки  */
.btn-primary {
    background: #4fcbd7;
    border-color: #4fcbd7;
}

.product-item-image-alternative,
.product-item-image-original {
    z-index: 1;
}

/* Малая корзина */
#cart_block {
    width: 260px;
    background: #fff;
}
#header_user #shopping_cart a {
    padding: 29px 20px;
}

#header #cart_block {
    top: 80px;
    display: block;
}

.block_content {
    padding: 5px;
}